.App {
  margin: 10px;
}

.basic {
  display: block;
  width: 320px;
  padding: 10px;
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-title {
  width: 320px;
}
